<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" [routerLink]="['/Pokemons']"> <img src="https://raw.githubusercontent.com/Niels-Bored/Pokedex/master/src/favicon.ico"> Pokedex</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" #busqueda (keyup.enter)="buscarPokemon(busqueda.value)">
          <button class="btn btn-warning" type="submit" (click)="buscarPokemon(busqueda.value)">Buscar</button>
        </form>
      </div>
    </div>
  </nav>
