<section class="botones">
    <button class="boton" (click)="anteriorBloque()">Anterior</button>
    <button class="boton" (click)="siguienteBloque()">Siguiente</button>
</section>
<section class="pokemones">
    <section *ngFor="let pokemon of pokemones">
        <div class="pokemon" (click)="buscarPokemon(pokemon.name)">
            <img src="https://raw.githubusercontent.com/Niels-Bored/Pokedex/master/src/favicon.ico" alt="">
            <p>{{pokemon.name}}</p>
        </div>
    </section>
</section>
